@model IEnumerable<IdentityRole>

<div class="container my-5">
	<h2 class="text-center">Role Management</h2>
	<div class="text-end mb-3">
		<a asp-action="Create" class="btn btn-outline-success">
			<i class="fa fa-solid fa-plus"></i>
			Add Role
		</a>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Role</th>
				<th>Operations</th>
			</tr>
		</thead>
		<tbody>
			@foreach (IdentityRole role in Model)
			{
				<tr>
					<td>@role.Id</td>
					<td>@role.Name</td>
					<td>
						<div class="card-footer">
							<form asp-action="Delete" asp-route-id="@role.Id" method="post">
								<span id="confirmDeleteSpan_@role.Id" style="display:none">
									<span>Are you sure you want to delete?</span>
									<button type="submit" class="btn btn-danger">Yes</button>
									<a href="#" class="btn btn-primary"
									   onclick="confirmDelete('@role.Id', false)">No</a>
								</span>

								<span id="deleteSpan_@role.Id">
									<a href="#" class="btn btn-danger"
									   onclick="confirmDelete('@role.Id', true)">Delete</a>
								</span>
							</form>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script>
		function confirmDelete(uniqueId, isTrue) {
			var deleteSpan = 'deleteSpan_' + uniqueId;
			var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

			if (isTrue) {
				$('#' + deleteSpan).hide();
				$('#' + confirmDeleteSpan).show();
			} else {
				$('#' + deleteSpan).show();
				$('#' + confirmDeleteSpan).hide();
			}
		}
	</script>
}
